html {
    height: 100%;
}
.container {
    margin: 2em;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    outline: none;
}

.new_list {
    overflow-y: scroll;
    max-height: 150px;
    overflow-y: auto;

}

.new_item {
    background-color: aquamarine;
    padding: 0.2em;
    margin: 0.3em;
    border-radius: 2%;
    max-height: 30%;
    min-width: 100%;
}



.completed_item_list {
    /* display: flex;
    flex-direction: column; */
    overflow-y: scroll;
    margin-left: -3em;
    max-height: 150px;
    overflow-y: auto;
}

.completed_item {
    background-color: aquamarine;
    padding: 0.7em;
    margin: 0.6em;
    border-radius: 2%;
    max-height: 30%;
    text-decoration:line-through;
    list-style-type: none;
    width: 100%;
}

.container_completed_item_list {
    padding-top: 1em;
}

.entry_field {
    /* position: absolute;
    bottom: 2em; */
  position: sticky;
  bottom: 0;
}

.completed_button {
    margin-bottom: -1.5em;
    margin-top: 1em;
}

.completed_item_list {
    transition: opacity 0.3s ease; /* Smooth opacity transition */
    opacity: 1;
}

.completed_item_list.hide {
    opacity: 0;
    pointer-events: none; /* Hide completed items from interaction */
}

li:hover {
    background-color: rgb(214, 214, 250);
}

