html {
    height: 100%;
    background-image: url("C:/Users/Ebay-No-Password/Desktop/Coding/to-do-v3/src/Components/Images/Screenshot 2024-03-17 113846.png");
    background-size: cover;
    background-position: center;
}
.container {
    margin: 2em;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    outline: none;
    position: relative;
    
}

.top_row {
    display: flex;
    justify-content: space-between;
}

#today_date {
    padding-top: 5px;
}

.new_list {
    overflow-y: scroll;
    max-height: 160px;
    overflow-y: auto;

}

.new_item {
    background-color: rgb(250, 253, 252);
    padding: 0.2em;
    margin: 0.3em;
    max-height: 30%;
    min-width: 100%;
    border: 0.5px solid rgb(194, 193, 193);
    opacity: 0.8;
    box-shadow: 0 3px 6px 0 rgba(77, 75, 75, 0.2), 0 6px 20px 0 rgba(170, 167, 167, 0.19);
}



.completed_item_list {
    /* display: flex;
    flex-direction: column; */
    overflow-y: scroll;
    margin-left: -3em;
    max-height: 160px;
    overflow-y: auto;
}

.completed_item {
    background-color: rgb(245, 250, 248);
    padding: 0.7em;
    margin: 0.6em;
    max-height: 30%;
    text-decoration:line-through;
    list-style-type: none;
    width: 100%;
    border: 0.5px solid rgb(194, 193, 193);
    opacity: 0.8;
    box-shadow: 0 3px 6px 0 rgba(77, 75, 75, 0.2), 0 6px 20px 0 rgba(170, 167, 167, 0.19);
}

.container_completed_item_list {
    padding-top: 1em;
}


.completed_button {
    margin-bottom: -1.5em;
    margin-top: 1em;
}

.remove_button {
    margin-left: 0.5em;
}

.completed_item_list {
    transition: opacity 0.3s ease; /* Smooth opacity transition */
    opacity: 1;
}

.completed_item_list.hide {
    opacity: 0;
    pointer-events: none; /* Hide completed items from interaction */
}

li:hover {
    background-color: rgb(214, 214, 250);
}

.entry_field {
    /* position: absolute;
    bottom: 0; */
  position: fixed;
  bottom: 0;
  height: 100px;
}
